<div class="categories">
    <mat-button-toggle-group #category="matButtonToggleGroup" name="categories" (change)="onChange($event.value)">
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="Travel">Travel</mat-button-toggle>
        <mat-button-toggle value="Lifestyle">Lifestyle</mat-button-toggle>
        <mat-button-toggle value="Business">Business</mat-button-toggle>
        <mat-button-toggle value="Food">Food</mat-button-toggle>
        <mat-button-toggle value="Work">Work</mat-button-toggle>
    </mat-button-toggle-group>
</div>