<div class="post-detail">
    <div class="hero-banner" [ngStyle]="{'background-image': 'url(' + post.image + ')'}">
        <a [routerLink]="['/home']" class="mat-stroked-button">
            <span class="mat-button-wrapper">
                <mat-icon>chevron_left</mat-icon>
                <span _ngcontent-flx-c7=""> View Posts </span>
            </span>
        </a>
        
        <h2 class="title">{{ post.title }}</h2>
    </div>
    <div class="description-container">
        <p class="description">
            {{ post.description }}
        </p>
    </div>
    <div class="comments-container">
        <h4 class="title">Comments</h4>
        <div class="comments-list" *ngFor="let comment of comments">
            <div class="comment-item">
                <div class="icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <div class="comment-item-content">
                    <p class="author">{{ comment.author }} </p>
                    <p class="comment">{{ comment.comment }} </p>
                </div>
            </div>
        </div>

        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <label for="comment">Comment</label>
            <textarea type="text" name="comment" formControlName="comment"></textarea>
            <button type="submit" class="btn mat-primary">Add</button>
        </form>
    </div>

</div>