#posts-list {
    display: flex;
    flex-flow: row wrap;

    .mat-fab {
        position: fixed;
        top: 145px;
        right: 20px;
        z-index: 1;
    }

    .post-container {
        width: 50%;
        height: 300px;

        app-post {
            color:white;
            text-align: center;
            overflow: hidden;
            position: relative;
            height: 360px;
        }
    }

    @media screen and (max-width: 800px) {
        .post-container {
            width: 100%;
        }
    }
}