.image-bg {
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0 0 1000px rgba(0,0,0,.2) inset;
    transition: all 350ms ease-in-out;
    height: 100%;

    .post-content {
         bottom: 0;
         padding: 30px;
         color: #fff;
         text-align: left;
     
         .title {  
             position: relative;
             font-size: 40px;
             font-weight: 600;
             letter-spacing: 0;
             line-height: 42px;
             margin-bottom: 20px;
         }
         
         .comments {
             font-style: italic;
             padding-bottom: 10px;
             padding-right: 10px;
     
             .icon-comments {
                 vertical-align: middle;
             }
         }
         
         .description {
             font-size: 16px;
             line-height: 22px;
             width: 75%;
             padding-bottom: 20px;
         }
     
         .category {
             font-family: Roboto,"Helvetica Neue",sans-serif;
             font-size: 0.8rem;
             letter-spacing: 2.5px;
             font-weight: 500;
             text-transform: uppercase;
         }
     }
     
     .post-actions {
         position: absolute;
         right: 20px;
         top: 12rem;
         color: #fff;
     }
}

input {
    color:red;
}